body {
	background-color: black;
	background-image: url("http://1-background.com/images/stars-1/beautiful-blue-stars-fill.jpg");
}

a:link {
color: white;
text-decoration: none;
}

a:visited {
color: white;
text-decoration: none;
}

a:hover {
color: white;
text-decoration: none;
}

a:active {
color: white;
text-decoration: none;
}

.header{
	position: relative;
	opacity: 1;
	background-image: url("https://i.pinimg.com/236x/f3/37/03/f337039dcc7e6b4347170251acf11652--runner-hoodie.jpg");
}

.images{
	position: absolute;
	top: 550px;
}

.grow {
	background: rgb(0,204,255);
	border-bottom: 5px groove rgb(51, 153, 255);
	margin-top: 8px;
	color: white;
	font-family: arial;
	font-size: 25;
	text-align: center;
	opacity: 0.8;
	transition: font-size 0.7s, margin-top 1s, background 1s, border-color 1s, opacity 0.5s;
}
.grow:hover {
	font-size: 60;
	margin-top: 11px;
	background: rgb(255, 0, 255);
	border-color: purple;
	opacity: 1;
}

